* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;

    width: 100%;
}

#header {
    display: flex;
    flex-direction: column;

    background-image: url(/assets/img/Gemini_Generated_Image_qxn2fwqxn2fwqxn2.png);
    background-repeat: no-repeat;
    background-position: calc(10%);
    background-size: cover;

    width: 100%;
    height: clamp(30vh, 400px, 40vh);
    background-color: aqua;
}

#title {
    margin-left: 10vh;
}

#main-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 60vh;
    background-color: aquamarine;

}

#visual-menu{
    width: 90%;
    height: 8vh;
    background-color: blueviolet;
}